In [11]:
# Examining and selecting data from DataFrames
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = 'dataframe'

df =  obb.equity.price.historical(
    'AAPL',
    start_date='2021-01-01',
    end_date='2021-02-01',
    provider='yfinance'
)

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df.values

In [7]:
df.describe()

             open        high         low       close        volume
count   20.000000   20.000000   20.000000   20.000000  2.000000e+01
mean   133.133501  135.085503  130.976499  133.092000  1.173251e+08
std      5.491837    5.457884    4.658471    5.303943  2.618671e+07
min    127.720001  128.710007  126.379997  126.599998  8.863680e+07
25%    128.734997  131.037502  127.645000  128.962498  9.820918e+07
50%    131.614998  132.560005  128.654999  131.485001  1.079090e+08
75%    135.942501  139.715000  133.947498  136.924995  1.412881e+08
max    143.600006  145.089996  141.369995  143.160004  1.775238e+08

In [ ]:
df.columns = [
    'open',
    'high',
    'low',
    'close',
    'volume',
]

date
2021-01-04    129.410004
2021-01-05    131.009995
2021-01-06    126.599998
2021-01-07    130.919998
2021-01-08    132.050003
2021-01-11    128.979996
2021-01-12    128.800003
2021-01-13    130.889999
2021-01-14    128.910004
2021-01-15    127.139999
2021-01-19    127.830002
2021-01-20    132.029999
2021-01-21    136.869995
2021-01-22    139.070007
2021-01-25    142.919998
2021-01-26    143.160004
2021-01-27    142.059998
2021-01-28    137.089996
2021-01-29    131.960007
2021-02-01    134.139999
Name: close, dtype: float64

In [16]:
df['close']

df[['close']]

                 close
date
2021-01-04  129.410004
2021-01-05  131.009995
2021-01-06  126.599998
2021-01-07  130.919998
2021-01-08  132.050003
2021-01-11  128.979996
2021-01-12  128.800003
2021-01-13  130.889999
2021-01-14  128.910004
2021-01-15  127.139999
2021-01-19  127.830002
2021-01-20  132.029999
2021-01-21  136.869995
2021-01-22  139.070007
2021-01-25  142.919998
2021-01-26  143.160004
2021-01-27  142.059998
2021-01-28  137.089996
2021-01-29  131.960007
2021-02-01  134.139999

In [20]:
df.index = pd.to_datetime(df.index)
df['2021-01-04': '2021-01-11']
df[0:6]

                  open        high         low       close     volume
date
2021-01-04  133.520004  133.610001  126.760002  129.410004  143301900
2021-01-05  128.889999  131.740005  128.429993  131.009995   97664900
2021-01-06  127.720001  131.050003  126.379997  126.599998  155088000
2021-01-07  128.360001  131.630005  127.860001  130.919998  109578200
2021-01-08  132.429993  132.630005  130.229996  132.050003  105158200
2021-01-11  129.190002  130.169998  128.500000  128.979996  100384500

In [22]:
df.loc[df.index[0]]

open      1.335200e+02
high      1.336100e+02
low       1.267600e+02
close     1.294100e+02
volume    1.433019e+08
Name: 2021-01-04 00:00:00, dtype: float64

In [23]:
df.loc[df.index[0], 'close']

np.float64(129.41000366210938)

In [24]:
df.loc[df.index[0:6], ['close', 'volume']]

                 close     volume
date
2021-01-04  129.410004  143301900
2021-01-05  131.009995   97664900
2021-01-06  126.599998  155088000
2021-01-07  130.919998  109578200
2021-01-08  132.050003  105158200
2021-01-11  128.979996  100384500

In [25]:
df.loc['2021-01-01':'2021-01-11', ['close', 'volume']]

                 close     volume
date
2021-01-04  129.410004  143301900
2021-01-05  131.009995   97664900
2021-01-06  126.599998  155088000
2021-01-07  130.919998  109578200
2021-01-08  132.050003  105158200
2021-01-11  128.979996  100384500

In [26]:
df.iloc[3]

open      1.283600e+02
high      1.316300e+02
low       1.278600e+02
close     1.309200e+02
volume    1.095782e+08
Name: 2021-01-07 00:00:00, dtype: float64

In [28]:
df[df.close > df.close.mean()].iloc[:,0]

date
2021-01-21    133.800003
2021-01-22    136.279999
2021-01-25    143.070007
2021-01-26    143.600006
2021-01-27    143.429993
2021-01-28    139.520004
2021-02-01    133.750000
Name: open, dtype: float64

In [30]:
df.loc[
    (df.close > df.close.mean())
    & (df.volume > df.volume.mean())
]

                  open        high         low       close     volume
date
2021-01-21  133.800003  139.669998  133.589996  136.869995  120150900
2021-01-25  143.070007  145.089996  136.539993  142.919998  157611700
2021-01-27  143.429993  144.300003  140.410004  142.059998  140843800
2021-01-28  139.520004  141.990005  136.699997  137.089996  142621100

In [42]:
df.loc['2021-01']

                  open        high         low       close     volume
date
2021-01-04  133.520004  133.610001  126.760002  129.410004  143301900
2021-01-05  128.889999  131.740005  128.429993  131.009995   97664900
2021-01-06  127.720001  131.050003  126.379997  126.599998  155088000
2021-01-07  128.360001  131.630005  127.860001  130.919998  109578200
2021-01-08  132.429993  132.630005  130.229996  132.050003  105158200
2021-01-11  129.190002  130.169998  128.500000  128.979996  100384500
2021-01-12  128.500000  129.690002  126.860001  128.800003   91951100
2021-01-13  128.759995  131.449997  128.490005  130.889999   88636800
2021-01-14  130.800003  131.000000  128.759995  128.910004   90221800
2021-01-15  128.779999  130.220001  127.000000  127.139999  111598500
2021-01-19  127.779999  128.710007  126.940002  127.830002   90757300
2021-01-20  128.660004  132.490005  128.550003  132.029999  104319500
2021-01-21  133.800003  139.669998  133.589996  136.869995  120150900
2021-01-22  136.279999  139.850006  135.020004  139.070007  114459400
2021-01-25  143.070007  145.089996  136.539993  142.919998  157611700
2021-01-26  143.600006  144.300003  141.369995  143.160004   98390600
2021-01-27  143.429993  144.300003  140.410004  142.059998  140843800
2021-01-28  139.520004  141.990005  136.699997  137.089996  142621100
2021-01-29  135.830002  136.740005  130.210007  131.960007  177523800

In [43]:
df.at['2021-01-04', 'volume']

np.int64(143301900)

In [45]:
df.nlargest(3, 'volume')

                  open        high         low       close     volume
date
2021-01-29  135.830002  136.740005  130.210007  131.960007  177523800
2021-01-25  143.070007  145.089996  136.539993  142.919998  157611700
2021-01-06  127.720001  131.050003  126.379997  126.599998  155088000

In [47]:
df.query('close > open')

                  open        high         low       close     volume
date
2021-01-05  128.889999  131.740005  128.429993  131.009995   97664900
2021-01-07  128.360001  131.630005  127.860001  130.919998  109578200
2021-01-12  128.500000  129.690002  126.860001  128.800003   91951100
2021-01-13  128.759995  131.449997  128.490005  130.889999   88636800
2021-01-19  127.779999  128.710007  126.940002  127.830002   90757300
2021-01-20  128.660004  132.490005  128.550003  132.029999  104319500
2021-01-21  133.800003  139.669998  133.589996  136.869995  120150900
2021-01-22  136.279999  139.850006  135.020004  139.070007  114459400
2021-02-01  133.750000  135.380005  130.929993  134.139999  106239800

In [58]:
# Calculating asset returns using pandas
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = 'dataframe'

data = obb.equity.price.historical(
    'AAPL',
    provider='yfinance'
)

df = data.loc[:,['close']]

df.index = pd.to_datetime(df.index)
df['close'].pct_change(freq='ME').dropna()
# df['compound'] = np.log(df['close'] / df['close'].shift(1))
# print(df)

date
2024-10-31    0.001064
2024-12-31    0.045202
2025-01-31   -0.057583
2025-02-28    0.024746
2025-03-31   -0.081500
2025-04-30   -0.043353
2025-06-30    0.017204
2025-07-31    0.011698
2025-09-30    0.108436
Name: close, dtype: float64

In [ ]:
# Measuring the volatility of a return series