In [ ]:
# Chapter 1: OpenBB Basics
from openbb import obb

obb.user.preferences.output_type = 'dataframe'

data = obb.equity.price.historical(
    'AAPL', 
    start_date='2015-01-01', 
    end_date='2015-01-05',
    interval='1d', 
    provider='yfinance'
)

print(data)

In [ ]:
# Chapter 2: Pandas Basics Index
import pandas as pd

# Create a Pandas Index
idx_1 = pd.Index([0,1,2,3,4,5])
print(idx_1)

# day range Index
days = pd.date_range('2015-01-01', periods=5, freq='D')
print(days)

# second range Index
seconds = pd.date_range('2015-01-01', periods=100, freq='s')
print(seconds)

# period range Index
prng = pd.period_range('2015Q1', '2016Q4', freq='Q')
print(prng)

# MultiIndex
tuples = [
    (pd.Timestamp('2023-07-10'), 'WMT'),
    (pd.Timestamp('2023-07-10'), 'JPM'),
    (pd.Timestamp('2023-07-10'), 'TGT'),
    (pd.Timestamp('2023-07-11'), 'WMT'),
    (pd.Timestamp('2023-07-11'), 'JPM'),
    (pd.Timestamp('2023-07-11'), 'TGT'),
]

midx = pd.MultiIndex.from_tuples(
    tuples,
    name=('date', 'ticker')
)
print(midx)

In [80]:
# Pandas Series and DataFrame
import numpy as np

def rnd():
    return np.random.randn(100)

s_1 = pd.Series(rnd(), index=seconds)
s_2 = pd.Series(rnd(), index=seconds)
s_3 = pd.Series(rnd(), index=seconds)

df = pd.DataFrame({
    'a': s_1,
    'b': s_2,
    'c': s_3
})

print(df)

                            a         b         c
2015-01-01 00:00:00 -0.394023 -1.040394  0.425366
2015-01-01 00:00:01  0.294046  1.756101 -0.783500
2015-01-01 00:00:02 -1.609396 -0.164309 -1.147128
2015-01-01 00:00:03  1.293839  1.214286 -0.499855
2015-01-01 00:00:04  0.279579  0.101349 -3.430218
...                       ...       ...       ...
2015-01-01 00:01:35  0.961154  0.247337 -1.163046
2015-01-01 00:01:36 -0.186332  0.348006  0.591708
2015-01-01 00:01:37 -0.875698  0.181161  0.634306
2015-01-01 00:01:38  0.572954 -0.387021 -1.421243
2015-01-01 00:01:39  0.492202 -1.167266  0.072743

[100 rows x 3 columns]

In [83]:
df_2 = pd.DataFrame(
    {
        'close': [158.11,144.64,132.55,158.20,146.61,134.86],
        'factor_1': [0.31, 0.24, 0.67, 0.29, 0.23, 0.71],
    },
    index=midx
)
print(df_2)

                    close  factor_1
date       ticker
2023-07-10 WMT     158.11      0.31
           JPM     144.64      0.24
           TGT     132.55      0.67
2023-07-11 WMT     158.20      0.29
           JPM     146.61      0.23
           TGT     134.86      0.71

In [143]:
from openbb import obb
obb.user.preferences.output_type = 'dataframe'

chains = obb.derivatives.options.chains(
    symbol='SPY',
    provider='cboe'
)

print(chains)

df_3 = chains.set_index(['expiration', 'strike', 'option_type'])
print(df_3)
print(df_3.index)

      underlying_symbol  underlying_price     contract_symbol  expiration  \
0                   SPY            670.26  SPY251002C00500000  2025-10-02
1                   SPY            670.26  SPY251002P00500000  2025-10-02
2                   SPY            670.26  SPY251002C00505000  2025-10-02
3                   SPY            670.26  SPY251002P00505000  2025-10-02
4                   SPY            670.26  SPY251002C00510000  2025-10-02
...                 ...               ...                 ...         ...
10377               SPY            670.26  SPY280121P00990000  2028-01-21
10378               SPY            670.26  SPY280121C00995000  2028-01-21
10379               SPY            670.26  SPY280121P00995000  2028-01-21
10380               SPY            670.26  SPY280121C01000000  2028-01-21
10381               SPY            670.26  SPY280121P01000000  2028-01-21

       dte  strike option_type  open_interest  volume  theoretical_price  ...  \
0       -1   500.0        call              0       0           169.2150  ...
1       -1   500.0         put             23       1             0.0000  ...
2       -1   505.0        call              0       0           164.2150  ...
3       -1   505.0         put              2       0             0.0000  ...
4       -1   510.0        call              0       0           159.2150  ...
...    ...     ...         ...            ...     ...                ...  ...
10377  840   990.0         put              0       0           320.7850  ...
10378  840   995.0        call              3       0             2.2788  ...
10379  840   995.0         put              0       0           325.7850  ...
10380  840  1000.0        call            856      28             2.1296  ...
10381  840  1000.0         put              0      10           330.7850  ...

          low  prev_close change  change_percent  implied_volatility   delta  \
0        0.00  168.940002  0.000        0.000000              0.0000  1.0000
1        0.01    0.005000  0.005        1.000000              0.0000  0.0000
2        0.00  163.930000  0.000        0.000000              0.0000  1.0000
3        0.00    0.005000  0.000        0.000000              0.0000  0.0000
4        0.00  158.889999  0.000        0.000000              0.0000  1.0000
...       ...         ...    ...             ...                 ...     ...
10377    0.00  320.914993  0.000        0.000000              0.2531 -1.0000
10378    0.00    2.275000  0.000        0.000000              0.1227  0.0498
10379    0.00  325.914993  0.000        0.000000              0.2556 -1.0000
10380    2.06    2.140000  0.040        0.018605              0.1228  0.0470
10381  330.88  330.914993 -0.370       -0.001117              0.2579 -1.0000

        gamma   theta    vega     rho
0      0.0000  0.0000  0.0000  0.0000
1      0.0000  0.0000  0.0000  0.0000
2      0.0000  0.0000  0.0000  0.0000
3      0.0000  0.0000  0.0000  0.0000
4      0.0000  0.0000  0.0000  0.0000
...       ...     ...     ...     ...
10377  0.0000 -0.0788  0.0000  0.0000
10378  0.0008 -0.0070  1.1264  0.7011
10379  0.0000 -0.0788  0.0000  0.0000
10380  0.0008 -0.0066  1.0793  0.6619
10381  0.0000 -0.0788  0.0000  0.0000

[10382 rows x 29 columns]
                              underlying_symbol  underlying_price  \
expiration strike option_type
2025-10-02 500.0  call                      SPY            670.26
                  put                       SPY            670.26
           505.0  call                      SPY            670.26
                  put                       SPY            670.26
           510.0  call                      SPY            670.26
...                                         ...               ...
2028-01-21 990.0  put                       SPY            670.26
           995.0  call                      SPY            670.26
                  put                       SPY            670.26
           1000.0 call                      SPY            670.26
                  put                       SPY            670.26

                                  contract_symbol  dte  open_interest  volume  \
expiration strike option_type
2025-10-02 500.0  call         SPY251002C00500000   -1              0       0
                  put          SPY251002P00500000   -1             23       1
           505.0  call         SPY251002C00505000   -1              0       0
                  put          SPY251002P00505000   -1              2       0
           510.0  call         SPY251002C00510000   -1              0       0
...                                           ...  ...            ...     ...
2028-01-21 990.0  put          SPY280121P00990000  840              0       0
           995.0  call         SPY280121C00995000  840              3       0
                  put          SPY280121P00995000  840              0       0
           1000.0 call         SPY280121C01000000  840            856      28
                  put          SPY280121P01000000  840              0      10

                               theoretical_price  last_trade_price  \
expiration strike option_type
2025-10-02 500.0  call                  169.2150              0.00
                  put                     0.0000              0.01
           505.0  call                  164.2150              0.00
                  put                     0.0000              0.03
           510.0  call                  159.2150              0.00
...                                          ...               ...
2028-01-21 990.0  put                   320.7850              0.00
           995.0  call                    2.2788              2.23
                  put                   325.7850              0.00
           1000.0 call                    2.1296              2.19
                  put                   330.7850            330.88

                                  last_trade_time       tick  ...     low  \
expiration strike option_type                                 ...
2025-10-02 500.0  call                        NaT  no_change  ...    0.00
                  put         2025-10-02 09:43:17  no_change  ...    0.01
           505.0  call                        NaT  no_change  ...    0.00
                  put         2025-09-23 13:45:19  no_change  ...    0.00
           510.0  call                        NaT  no_change  ...    0.00
...                                           ...        ...  ...     ...
2028-01-21 990.0  put                         NaT  no_change  ...    0.00
           995.0  call        2025-10-01 14:44:08         up  ...    0.00
                  put                         NaT  no_change  ...    0.00
           1000.0 call        2025-10-02 15:27:41       down  ...    2.06
                  put         2025-10-02 14:07:23       down  ...  330.88

                               prev_close  change  change_percent  \
expiration strike option_type
2025-10-02 500.0  call         168.940002   0.000        0.000000
                  put            0.005000   0.005        1.000000
           505.0  call         163.930000   0.000        0.000000
                  put            0.005000   0.000        0.000000
           510.0  call         158.889999   0.000        0.000000
...                                   ...     ...             ...
2028-01-21 990.0  put          320.914993   0.000        0.000000
           995.0  call           2.275000   0.000        0.000000
                  put          325.914993   0.000        0.000000
           1000.0 call           2.140000   0.040        0.018605
                  put          330.914993  -0.370       -0.001117

                               implied_volatility   delta   gamma   theta  \
expiration strike option_type
2025-10-02 500.0  call                     0.0000  1.0000  0.0000  0.0000
                  put                      0.0000  0.0000  0.0000  0.0000
           505.0  call                     0.0000  1.0000  0.0000  0.0000
                  put                      0.0000  0.0000  0.0000  0.0000
           510.0  call                     0.0000  1.0000  0.0000  0.0000
...                                           ...     ...     ...     ...
2028-01-21 990.0  put                      0.2531 -1.0000  0.0000 -0.0788
           995.0  call                     0.1227  0.0498  0.0008 -0.0070
                  put                      0.2556 -1.0000  0.0000 -0.0788
           1000.0 call                     0.1228  0.0470  0.0008 -0.0066
                  put                      0.2579 -1.0000  0.0000 -0.0788

                                 vega     rho
expiration strike option_type
2025-10-02 500.0  call         0.0000  0.0000
                  put          0.0000  0.0000
           505.0  call         0.0000  0.0000
                  put          0.0000  0.0000
           510.0  call         0.0000  0.0000
...                               ...     ...
2028-01-21 990.0  put          0.0000  0.0000
           995.0  call         1.1264  0.7011
                  put          0.0000  0.0000
           1000.0 call         1.0793  0.6619
                  put          0.0000  0.0000

[10382 rows x 26 columns]
MultiIndex([(2025-10-02,  500.0, 'call'),
            (2025-10-02,  500.0,  'put'),
            (2025-10-02,  505.0, 'call'),
            (2025-10-02,  505.0,  'put'),
            (2025-10-02,  510.0, 'call'),
            (2025-10-02,  510.0,  'put'),
            (2025-10-02,  515.0, 'call'),
            (2025-10-02,  515.0,  'put'),
            (2025-10-02,  520.0, 'call'),
            (2025-10-02,  520.0,  'put'),
            ...
            (2028-01-21,  980.0, 'call'),
            (2028-01-21,  980.0,  'put'),
            (2028-01-21,  985.0, 'call'),
            (2028-01-21,  985.0,  'put'),
            (2028-01-21,  990.0, 'call'),
            (2028-01-21,  990.0,  'put'),
            (2028-01-21,  995.0, 'call'),
            (2028-01-21,  995.0,  'put'),
            (2028-01-21, 1000.0, 'call'),
            (2028-01-21, 1000.0,  'put')],
           names=['expiration', 'strike', 'option_type'], length=10382)

In [119]:
# manipulating and transforming DataFrames
from openbb import obb
import pandas as pd
import numpy as np
obb.user.preferences.output_type = 'dataframe'

asset = obb.equity.price.historical(
    'AAPL',
    provider='yfinance'
)

benchmark = obb.equity.price.historical(
    'SPY',
    provider='yfinance'
)

columns = [
    'open', 'high', 'low', 'close', 'volume', 'dividends'
]


asset.columns = columns
# benchmark.columns = columns + ['capital_gains']
benchmark.columns = columns
# print(asset)
# print(benchmark)

benchmark['price_diff'] = benchmark.close.diff()
benchmark['gain'] = benchmark.price_diff > 0
benchmark['symbol'] = 'SPY'

asset['price_diff'] = asset.close.diff()
asset['gain'] = asset.price_diff > 0
asset['symbol'] = 'AAPL'

# To avoid the FutureWarning, explicitly cast the mean to int before assignment
asset_2 = asset.copy()
asset_2.at[asset_2.index[1], 'volume'] = int(asset_2.volume.mean())

pd.concat([asset, asset_2]).drop_duplicates()

,open,high,low,close,volume,dividends,price_diff,gain,symbol
date,,,,,,,,,
2024-10-03,225.139999,226.809998,223.320007,225.669998,34044200,0.0,NaN,False,AAPL
2024-10-04,227.899994,228.000000,224.130005,226.800003,37245100,0.0,1.130005,True,AAPL
2024-10-07,224.500000,225.690002,221.330002,221.690002,39505400,0.0,-5.110001,False,AAPL
2024-10-08,224.300003,225.979996,223.250000,225.770004,31855700,0.0,4.080002,True,AAPL
2024-10-09,225.229996,229.750000,224.830002,229.539993,33591100,0.0,3.769989,True,AAPL
...,...,...,...,...,...,...,...,...,...
2025-09-29,254.559998,255.000000,253.009995,254.429993,40127700,0.0,-1.030014,False,AAPL
2025-09-30,254.860001,255.919998,253.110001,254.630005,37704300,0.0,0.200012,True,AAPL
2025-10-01,255.039993,258.790009,254.929993,255.449997,48713900,0.0,0.819992,True,AAPL
2025-10-02,256.579987,258.179993,254.149994,257.130005,42597200,0.0,1.680008,True,AAPL
2024-10-04,227.899994,228.000000,224.130005,226.800003,53760325,0.0,1.130005,True,AAPL

In [118]:
pd.pivot_table(
    data=asset,
    values='price_diff',
    columns='gain',
    aggfunc=['sum', 'mean', 'std']
)

                   sum                 mean                 std
gain             False      True      False     True      False     True
price_diff -339.410004  370.87001 -2.951391  2.767687  3.259732  3.120703

In [121]:
concated = pd.concat([asset, benchmark])
concated.groupby('symbol').close.ohlc()

              open        high         low       close
symbol
AAPL    225.669998  259.019989  172.419998  257.130005
SPY     567.820007  669.219971  496.480011  669.219971

In [144]:
chains = obb.derivatives.options.chains(
    'AAPL', provider='cboe'
)

expirations = chains.expiration.unique()
calls = chains[
    (chains.option_type == 'call')
    & (chains.expiration == expirations[5])
]

puts = chains[
    (chains.option_type == 'put')
    & (chains.expiration == expirations[5])
]

calls_strike = calls.set_index('strike')
puts_strike = puts.set_index('strike')

joined = calls_strike.join(
    puts_strike,
    how='left',
    lsuffix='_call',
    rsuffix='_put'
)

prices = joined[['last_trade_price_call', 'last_trade_price_put']]
prices = prices.copy()
prices['straddle_price'] = prices.sum(axis=1)
print(prices)

        last_trade_price_call  last_trade_price_put  straddle_price
strike
110.0                  144.51                  0.00          144.51
120.0                  136.28                  0.00          136.28
125.0                    0.00                  0.00            0.00
130.0                    0.00                  0.00            0.00
135.0                    0.00                  0.00            0.00
140.0                  116.30                  0.06          116.36
145.0                    0.00                  0.03            0.03
150.0                  105.04                  0.03          105.07
155.0                    0.00                  0.08            0.08
160.0                    0.00                  0.05            0.05
165.0                   91.99                  0.06           92.05
170.0                    0.00                  0.09            0.09
175.0                    0.00                  0.09            0.09
180.0                    0.00                  0.12            0.12
185.0                    0.00                  0.13            0.13
190.0                   67.05                  0.20           67.25
195.0                    0.00                  0.19            0.19
200.0                   57.00                  0.25           57.25
205.0                   51.18                  0.29           51.47
210.0                   47.75                  0.37           48.12
215.0                   43.60                  0.50           44.10
220.0                   38.95                  0.65           39.60
225.0                   34.38                  0.89           35.27
230.0                   29.12                  1.28           30.40
235.0                   25.65                  1.69           27.34
240.0                   21.15                  2.47           23.62
245.0                   17.24                  3.65           20.89
250.0                   14.05                  5.00           19.05
255.0                   10.32                  6.83           17.15
260.0                    7.65                  9.13           16.78
265.0                    5.52                 11.71           17.23
270.0                    3.85                 16.45           20.30
275.0                    2.62                 20.58           23.20
280.0                    1.75                 25.95           27.70
285.0                    1.18                  0.00            1.18
290.0                    0.75                  0.00            0.75
295.0                    0.53                  0.00            0.53
300.0                    0.35                  0.00            0.35
305.0                    0.23                  0.00            0.23
310.0                    0.17                  0.00            0.17
315.0                    0.11                  0.00            0.11
320.0                    0.09                  0.00            0.09
325.0                    0.07                  0.00            0.07

In [145]:
(
    chains
    .groupby(
        ['expiration', 'strike', 'option_type']
    )
    .agg({
        'last_trade_price': 'max',
        'open_interest' : 'sum'
    })
)

                               last_trade_price  open_interest
expiration strike option_type
2025-10-03 110.0  call                   147.58              2
                  put                      0.01             62
           120.0  call                   137.43              8
                  put                      0.01            134
           125.0  call                   132.47              8
...                                         ...            ...
2028-01-21 430.0  put                      0.00              0
           440.0  call                     5.25             51
                  put                      0.00              0
           450.0  call                     4.70           1615
                  put                      0.00              0

[2440 rows x 2 columns]

In [156]:
(
    chains
    .groupby(
        ['option_type']
    )
    .apply(lambda x: (x['ask'] - x['bid']).mean(),
        include_groups=False
    )
)

option_type
call    1.178361
put     0.615402
dtype: float64

In [158]:
(
    chains
    .groupby('expiration')
    .last_trade_price
    .transform(lambda x: (x - x.mean()) / x.std())
)

0       3.531998
1      -0.636984
2       3.245252
3      -0.636984
4       3.105127
          ...
2435   -0.762661
2436   -0.650956
2437   -0.762661
2438   -0.662658
2439   -0.762661
Name: last_trade_price, Length: 2440, dtype: float64